<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %} - Sensor Readings
    </title>
    <link rel="shortcut icon"
          href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/keen-dashboards.css"/>
    <link rel="stylesheet" type="text/css" href="/static/doughnut.css"/>

    <script src='/static/Chart.js'></script>
    {% block head %}
    {% endblock %}
</head>
<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/static/Cloud_IoT.svg" width="50" style="float: left;margin-right: 8px">
            <a class="navbar-brand" href="/"> Sensor Readings</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/map">Device Map</a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}

<script type="text/javascript" src="/static/jquery.new.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/holder.js"></script>
<script>
    Holder.add_theme("white", {
        background: "#fff",
        foreground: "#a7a7a7",
        size: 10
    });
</script>

<script type="text/javascript" src="/static/keen.min.js"></script>

{% block data %}
{% endblock %}

</body>
</html>
